

/* Style for the whole body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 10px;
    padding: 0;
    gap:3rem;
    margin-top: 3rem;
}

/* Style for the header */
h1 {
    text-align: center;
    color: #333;
}

/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10rem;
}

table th,
table td {
    padding: 8px;
    text-align: center;
}

table th {
    background-color: grey;
    color: #fff;
    text-align:center;
}

table td {
    border-bottom: 2px solid #ddd;
}

/* Style for audio controls */
audio {
    width: 100%;
}
