<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/CSS/Adminhome.css}">
</head>
<body>
<h1> AdminPage</h1>
<header>
     	<nav class="navbar">
     		<ul>
     			<li><a href="newSong">Add  NewSong</a></li>
     			<li><a href="viewSongs">view all Songs</a></li>
     			<li><a href="createplaylist">Create playList</a></li>
     			<li><a href="viewPlaylists">View all playlists</a></li>
     		</ul>
     	</nav>	        
     </header>
</body>
</html>