<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/CSS/register.css">
</head>
<body >
	<h1>Registeration page</h1>
	<form action="/register" method="post">
		<table>
			<tr>
				<td><label>User name :</label></td>
				<td><input type="text" name="username"></td>
			</tr>
			<tr>
				<td><label>Email :</label></td>
				<td><input type="email" name="email"></td>
			</tr>
			<tr>
				<td><label>Password :</label></td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td><label>Gender :</label></td>
				<td><input type="radio" name="gender" value="male">Male
					<input type="radio" name="gender" value="female">Female <input
					type="radio" name="gender" value="other">Other</td>
			</tr>
			<tr>
				<td><label>Role :</label></td>
				<td><input type="radio" name="role" value="admin">Admin
					<input type="radio" name="role" value="admin">Customer</td>
			</tr>
			<tr>
				<td><label>Address :</label></td>
				<td><textarea name="address"></textarea></td>
			</tr>
			<tr>
				<td><button>Register</button></td>
			</tr>
			
		</table>
		
	</form>
</body>
</html>